
body{
	overflow: auto;
}
.slider {
	margin-left: 10px;
	height: 20px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.8;
}
.slider::-moz-range-thumb {
	width: 10px;
	height: 20px;
	background: #0704aa;
	cursor: pointer;
}
.slider:disabled::-moz-range-thumb {
	width: 10px;
	height: 20px;
	background: #8588a0;
}
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #0704aa;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	overflow: auto;
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#compileLoader{
	overflow: hidden;
}
#compileButtonDiv{
	width: 110px;
	float:left;
}
#loaderDiv{
	margin-top: 5px;
	float:left;
	margin-right: 5px;
}
#compileCheckBox{
	margin-top: 10px;
	overflow: hidden;
}

#inputData{
	margin: 0px;
	height:150px;
	width:95%;
}

#inputProgram{
	margin: 0px;
	height:150px;
	width:95%;
}

#outputCode{
	margin: 0px;
	height: 138px;
	width: 95%;
	overflow: auto;
	white-space: pre-wrap;
}
#outputResult{
	margin: 0px;
	height: 138px;
	width: 95%;
	overflow: auto;
	white-space: pre-wrap;
}

#inputButton, #buttonCompile,
#moveUpAmount,#moveDownButton,#moveLeftButton,#moveRightButton,
#moveUpButton,#moveDownAmount,#moveLeftAmount,#moveRightAmount
{
	margin: 0px;
	margin-top: 5px;
	height:20px;
	width:100px
}

#resultButton{
	margin: 0px;
	margin-left: 10px;
	margin-top: 5px;
	height:20px;
	width:100px;
}

#animationCheckBox{
	margin-left: 10px;
}

#animationLabel,#sliderLabel,#animationTimeLabel, #startButton, #resetButton
{
	margin-left: 10px;
	height:20px;
	width:100px;
}

#startErrorDiv{
	margin-left: 10px;
}

#turingInterface{
	margin: 10px;	
}
#mainContainer{
	max-width:100%;
	display:flex;
	flex-wrap:wrap;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 4fr 1fr;
	grid-template-area: "display editor input status";
	gap:5px;
	/*background-color:gray;*/
}
#emulator{
	/*background-color:lightgray;*/
	resize:horizontal;
	overflow: auto;
	width:1000px;
	margin-top: 25px;
}
#editor{
	/*background-color:darkgray;*/
}
#turingCanvas{
	margin-top: 10px;
}

#turingCanvas canvas{
	width:100%;
}
#turingCanvas canvas::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

#menu{
	max-width:960px;
	display:grid;
	margin:auto;
	grid-template-columns: 40% 60%;
	align-items:center;
	justify-items: center
}
#mainContainer>div{
width:30%;	
}
#mainContainer>div+div{
width:calc(70% - 5px);	
}